<ngx-spinner type="ball-fussion"></ngx-spinner>
<mat-accordion multi="false" [togglePosition]="'before'">
  <mat-expansion-panel [style.border-left-color]="office.color" *ngFor="let office of offices">
    <mat-expansion-panel-header [collapsedHeight]="'80px'">
      <ul>
        <li>
          <h3>
            {{office?.name}}
          </h3>
        </li>
        <li>
          <mat-icon>group</mat-icon><b>{{office?.staff.length}}</b> Members in office
        </li>
      </ul>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <p>
        <mat-icon>phone</mat-icon>{{ office.phoneNumber }}
      </p>
      <p>
        <mat-icon>email</mat-icon>{{ office.email }}
      </p>
      <p>
        <mat-icon>group</mat-icon>Office Capacity: {{ office.maxCapacity }}
      </p>
      <p>
        <mat-icon>location_on</mat-icon>{{ office.address }}
      </p>
    </div>
    <mat-action-row>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['/view', office._id]" mat-menu-item>
          <mat-icon>info</mat-icon>
          <span>View</span>
        </button>
        <button [routerLink]="['/edit', office?._id]" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="onDelete(office?._id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-action-row>
  </mat-expansion-panel>
  <div class="add-circle">
    <a routerLink="/create" routerLinkActive="mat-accent">
      <mat-icon class="add-icon">add_circle_outline</mat-icon>
    </a>
  </div>
</mat-accordion>
