<ngx-spinner type="ball-fussion"></ngx-spinner>
<mat-accordion multi="true" [togglePosition]="'before'">
  <mat-expansion-panel [style.border-left-color]="office?.color">
    <mat-expansion-panel-header [collapsedHeight]="'80px'">
      <ul>
        <li>
          <h3>

            {{office?.name}}
          </h3>
        </li>
        <li>
          <mat-icon>group</mat-icon><b>{{office?.staff.length}}</b> Members in office
        </li>
      </ul>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <p>
        <mat-icon>phone</mat-icon>{{ office?.phoneNumber }}
      </p>
      <p>
        <mat-icon>email</mat-icon>{{ office?.email }}
      </p>
      <p>
        <mat-icon>group</mat-icon>Office Capacity: {{ office?.maxCapacity }}
      </p>
      <p>
        <mat-icon>location_on</mat-icon>{{ office?.address }}
      </p>
    </div>
    <mat-action-row>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['/edit', office?._id]" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="onDelete(office?._id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-action-row>
  </mat-expansion-panel>
  <br />
</mat-accordion>
<div class="add-circle">
  <mat-form-field *ngIf="office?.staff.length > 0">
    <mat-label>Search</mat-label>
    <input type="text" matInput [formControl]="myControl" (keypress)="Filter()" />
  </mat-form-field>
  <a *ngIf="office?.staff.length < office?.maxCapacity" (click)="openDialog(null)" [routerLink]="['/view/', office?._id]"
    routerLinkActive="primary">
    <mat-icon [color]="office?.color" class="add-icon">add_circle_outline</mat-icon>
  </a>
  <mat-icon *ngIf="office?.staff.length == office?.maxCapacity" color="warn" class="add-icon">block</mat-icon>
</div>
<br />
<mat-card *ngFor="let staff of filteredOptions | async">
  <img class="small-avatar" [src]="staff.avatarSrc || defaultImg" mat-card-md-image />
  <mat-card-title>
    <p>{{ staff.firstName }} {{ staff.lastName }}</p>
  </mat-card-title>
  <mat-card-actions>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="openDialog(staff)" mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onDelete(staff?._id)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
