.small-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: table-column;
}
form {
  margin-top: 50px;
}
:host {
  display: block;
  margin-top: 1rem;
}
.selector {
  border-radius: 50%;
  border-style: solid;
  border-color: black !important;
  border-width: 2px;
}
ul {
  list-style-type: none;
  display: inline-block;
}
li {
  float: left;
  margin: 3px;
}
